#meni {
    width: 100%;
    color: 3c1518;
    display: flex;
    justify-content: center;
}

#right {
    width: 50%;
    text-align: end;
}


button {
    font-size: large;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#img {
    width: 30px;
    height: 30px;
}